aiofiles==24.1.0
alpaca-py==0.42.2
annotated-types==0.7.0
certifi==2025.10.5
charset-normalizer==3.4.3
dotenv==0.9.9
idna==3.10
msgpack==1.1.1
numpy==2.3.3
pandas==2.3.3
pushbullet.py==0.12.0
pydantic==2.11.10
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-magic==0.4.27
pytz==2025.2
requests==2.32.5
six==1.17.0
sseclient-py==1.8.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.8.0
websockets==15.0.1
